<odoo>

    <record id="settings_view_form_for_office_management" model="ir.ui.view">
        <field name="name">res.config.settings.form.view</field>
        <field name="model">res.config.settings</field>
        <field name="inherit_id" ref="base.res_config_settings_view_form"/>
        <field name="arch" type="xml">
            <xpath expr="//form" position="inside">

<group name="Employee Settings" >

<field name="max_employee"/>
<field name="pan_card_required"/>
<field name="passport_number_required"/>

</group>

            </xpath>
        </field>
    </record>

    <record id="settings_action" model="ir.actions.act_window">
        <field name="name">Settings Action</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>


</odoo>
